*{
	margin:0;
	padding:0;
	overflow:hidden;
	color:#FFF;
	text-align:center;
	max-height:100%;
	
}

#preloader{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:120;
  background-color:#000;

}

@-webkit-keyframes scale {
    0%    { opacity:0 }
   50%    { opacity:1; }
	100%    { opacity:0 }
}

#loader{
 	position:absolute;
 	left:calc(50% - 100px);
 	top:calc(50% - 100px);
	/* border:2px solid #FFF;*/
 	display:none;

}
#pre_logo{
	position:absolute;
	text-align:center;
	width:200px;
	left:calc(50% - 123px);
	top:calc(50% - 100px);
	z-index:500;
	display:block;
	-webkit-animation: 2s scale infinite linear  ;
	-moz-animation: 2s scale infinite linear  ;
    -o-animation: 2s scale infinite linear  ;
	animation: 2s scale infinite linear  ;
}

#status{
-webkit-animation: 2s scale infinite linear  ;
-o-animation: 2s scale infinite linear  ;
-moz-animation: 2s scale infinite linear  ;
animation: 2s scale infinite linear  ;

text-shadow: 1px 0px 10px #00FFCC;
cursor:pointer;
width:280px;
height:60px;
position:absolute;
left:calc(50% - 140px);
top:calc(50% + 120px);
z-index:400;
}
#status:hover{
text-decoration:none;
}
#status>h1{
margin-top:10px;
}
#se{
  width:200px;
  height:200px;
  margin-left:2px;
  border-top:2px solid #0CF;
  border-bottom:2px solid #0CF;
  border-radius:100px;
  -moz-animation: 1s rotate infinite linear  ;
  -moz-transform-origin: 50% 50%; 
  -webkit-animation: 1s rotate infinite linear  ;
  -webkit-transform-origin: 50% 50%; 
  -o-animation: 1s rotate infinite linear  ;
  -o-transform-origin: 50% 50%; 
  animation: 1s rotate infinite linear  ;
  transform-origin: 50% 50%; 
}
#nwi{
  width:100px;
  height:100px;
  border-radius:50px;
  margin-left:50px;
  margin-top:50px;
  border-right:1px solid #0CF;
  border-left:1px solid #0CF;
  -moz-animation: 20s rotate infinite linear  ;
  -moz-transform-origin: 50% 50%; 
  -webkit-animation: 20s rotate infinite  linear  ;
  -webkit-transform-origin: 50% 50%;  
  -o-animation: 20s rotate infinite linear  ;
  -o-transform-origin: 50% 50%; 
  animation: 20s rotate infinite  linear  ;
  transform-origin: 50% 50%;  
}
#tam{

}

@-webkit-keyframes rotate {
    0%    { -webkit-transform: rotate(0); -moz-transform: rotate(0);-o-transform: rotate(0);transform: rotate(0);}
    100% { -webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg); } 
}


body{
	-webkit-box-sizing: border-box; /* Safari, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+  -webkit-filter:blur(1px);*/
 	
}
#background{
background-color:#000;/*#142021;*/
background-repeat:no-repeat;
position:absolute;
top:0px;
left:0px;
right:0px;
bottom:0px;
z-index:-100;
min-width: 100%;
max-width: 100%
}
#c{
min-width: 100%;
max-width: 100%
}

#main{
text-align:center;
max-width:100%;
max-height:100%;
min-width:100%;
min-height:100%;
/* ===============*/
position:absolute;

bottom:0;
top:0;
right:0;
left:0;
}

#header{
  -webkit-opacity: 1;
  width: 100%;
  height:130px;
  display:none;
  position:absolute;
  background-color: rgba( 109, 207, 246, 0.1 );
  border-bottom:1px solid rgba( 255, 255, 255, 0.3 );
  text-align:left;
  }


#ism_logo{
	width:120px;
	height:auto;
	margin-left:50px;
	margin-top:5px;
    border: none;
}
/*SSSSSSSSSSSSSSSSSSSSSSSSSVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVGGGGGGGGGGGGGGGGGGGGGGGG*/	
svg{
	
}

  path{
  fill:#000;
  stroke:#ffffff;
  stroke-width:4px;
  stroke-miterlimit:4;
  stroke-opacity:1;
  fill-opacity:0.1;
  stroke-dasharray:800;
  stroke-dashoffset:0;
  display:inline;
  
   }
   path#rect3011-5{
	  stroke-dasharray:1400;
	  stroke-dashoffset:0;
  }
   svg:hover path{
	-webkit-animation: dash 6s 0s linear infinite;
	
	}
	svg:hover path#rect3011-5{
    -webkit-animation:dash 4s linear infinite;
    fill:#fff;
   }
   
   @-webkit-keyframes dash{
   from{stroke-dashoffset:0}
   to{stroke-dashoffset:1400}
   }
/*SSSSSSSSSSSSSSSSSSSSSSSSSVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVGGGGGGGGGGGGGGGGGGGGGGGG*/
#logo{
	position:absolute;
	/*width:400px;
	height:200px;
	*/
	
	left:calc(50%);
	left:600px;
	top:calc(50%);
	display:none;
	z-index:200;
 
}
h3#theme{
	font-family:navigation;
    
}
.welcome{
	display:none;
	position:absolute;
	width:400px;
	height:108px;
	left:calc(50% - 200px);/*-200*/
	top:calc(50% );
	font-family: 'Roboto Slab', serif;
	text-shadow: 1px 0px 10px #00FFCC;
    z-index:201;
	
}
.welcome_after{
	top:100px;
	height:48px
}


#info{
	display:none;
	position:absolute;
	text-align:center;
	width:40px;
	height:40px;
	right:50%;
	top:50%;
	border:1px solid rgba( 255, 255, 255, 0.3 );
	color:#A8ABB6;
	cursor:pointer;	
	background-color:rgba( 109, 207, 246, 0.2 );
	font-family:navigation;
}

#info:hover{
	-webkit-transition:all ease-in 0.2s;
	-moz-transition:all ease-in 0.2s;
    -o-transition:all ease-in 0.2s;
	transition:all ease-in 0.2s;
	border:1px solid rgba( 255, 255, 255, 0.8 );
	transform:scale(1.2,1.2);
	color:#FFF;
}
#about{
  position:absolute;
  /*top:0;
  bottom:0;
  left:0;
  right:0;*/
  font-family:about;
  width:100%;
  height:100%;
  z-index:201;
  background-color:rgba( 109, 207, 246, 0.6 );
  display:none;
  -webkit-animation: abo 0.8s linear forwards; 
}
@-webkit-keyframes abo{
    from{-webkit-transform: translateY(440px)}
    to{-webkit-transform: translateY(0px)}
}
#about>h1{
 margin:100px;
 font-family: 'Titillium Web', sans-serif;
 
}
#about>p{
padding:100px;
font-size:20px;
}
h1#close {
            z-index: 200;
             left: 40px;
             top: 20px;
             width: 40px;
             height: 40px;
             text-align: center;
             position: absolute;
             border: 1px solid #fff;
             cursor: pointer;
             display: none;
             font-family: Agenda;
         }
         h1#close:hover {
            box-shadow: 1px 0px 10px #00FFCC;
            text-shadow: 1px 0px 10px #00FFCC;
             
         }


ul#navigation {
    font-family: 'Orbitron', sans-serif;
    font-size: small;
    position: absolute;
    color: #FFF;
    top: calc( 50% - 100px); /* 200px*/
    left: calc(50% - 100px); /* 70px*/
    display: none;
    overflow: hidden;
    display: none;
    z-index: 200;
}

ul#navigation.animated{
top: 200px;
left: 40px;
}
ul#navigation>li{
  width: 240px;
  height: 60px;
  text-align:center;
  list-style:none;
  margin-top:2px;
  background-image:url(../image/button_hover.png);
  background-size:auto;
  background-position:top;
  background-repeat:no-repeat;
  cursor:pointer;
  opacity:0.8;
  -webkit-border-radius:5px;
  -webkit-transition:all cubic-bezier(x1,y1,x2,y2) 0.2s;
  -moz-transition:all cubic-bezier(x1,y1,x2,y2) 0.2s;
  -o-transition:all cubic-bezier(x1,y1,x2,y2) 0.2s;
  transition:all cubic-bezier(x1,y1,x2,y2) 0.2s;
}



ul#navigation>li:nth-child(3){
 /*#2513270  background-image:url(../image/button_hover_locked.png);*/
 
}
ul#navigation>li>.selected{
 background-position:bottom;
}
ul#navigation>li:hover{
 background-position:bottom;
 margin-left:8px;
 -webkit-opacity:1;
 -webkit-transform:scaleX(0.99);
 -moz-transform:scaleX(0.99);
 -o-transform:scaleX(0.99);
 transform:scaleX(0.99);
}


ul#navigation>li>a{
text-decoration:none;
-webkit-opacity:1;
}
ul#navigation>li>a>h2{
margin-top:15px;
color:#FFF;
text-shadow: 1px 0px 10px #00FFCC;
font-family:navigation;

}

#menu_screen{
	display:block;
height:75%;
max-height:500px;
width:500px;
left:calc(50% - 250px);
top:calc(20%);
position:absolute;
text-align:center;
}
#cube_holder{
position:absolute;
right:calc(50% - 225px);
top:calc(50% - 220px);
width:450px; height:450px; 
background-color:rgba(255,255,255,0);
outline:none;
border:none;
display:none;
overflow:hidden;
}


#sponsors{
position:absolute;
display:none;
background-color:transparent;
height:75%;
max-height:500px;
width:65%;
left:calc(25%);
top:calc(20%);
}

#sponsors>div{
border-bottom:1px solid rgba( 255, 255, 255, 0.3 );
cursor:pointer;
-webkit-opacity:0.6;
}
#sponsors>div>h2{
margin-top:4px;
cursor:pointer;

}

#sponsors_last{
display:inline-block;
width:40%;
height:40px;
margin-left:0;
}

#sponsors_now{
display:inline-block;
width:40%;
height:40px;
clear:right;
display:none;

}
#sponsors>div.sponsors_selected{
text-shadow:2px 0px 10px #00FFCC;
border-bottom:1px solid rgba( 255, 255, 255, 0.8 );
-webkit-opacity:1;
-moz-opacity:1;
}
.sponsors_selected>h2{
-webkit-transform:scale(1.1,1.1);
-moz-transform:scale(1.1,1.1);
-o-transform:scale(1.1,1.1);
transform:scale(1.1,1.1);
}

.present{
display:none;
}
#contact{
position:absolute;
height:75%;
height:840px;
max-height:500px;
width:900px;
left:calc(50% - 400px);
top:calc(20%);
display:none;
}
#contact>ul{
overflow-y:scroll;
overflow-x:hidden;
overflow:auto;
}
.con{
width:100%;
}
#contact>ul>li{
overflow-x:hidden;
overflow:auto;
margin-top:10px;
}
#contact>ul>li>h2{
margin-bottom:20px;
font-family: navigation;
}
#contact > ul > li >div> h3 {
font-family: navigation;
}
#admin{
margin-left: 210px;
margin-top:  150px;
display: none;
}
.contact_holder{
text-align:center;
width:200px;
height:240px;
margin-top:10px;
margin-right:40px;
margin-bottom:10px;
margin-left:calc(50% - 100px);
background-repeat:no-repeat;
background-size:cover;
}

.contact_holder:hover>.con_detail{
	margin-top:0px;
	-webkit-transition:ease-in 0.11s;
	height:310px;
	z-index:100;
	background-color:rgba(255,255,255,0.8);
	color:#000;
}


.con_detail{
width:200px;
height:0px;
-webkit-transition:ease-in 0.11s;
-moz-transition:ease-in 0.11s;

}
.con_detail>h5{
color:#000;
margin-top:5px;
font-family: 'Titillium Web', sans-serif;
}
.con_detail>h4{
color:#000;
margin-top:50%;
font-family: 'Titillium Web', sans-serif;
}
.con_detail>a{
margin-top:40px;
z-index:400;
}
#contact>ul::-webkit-scrollbar{
width:8px;
border-radius:4px;
}
#contact>ul::-webkit-scrollbar-thumb{
background-color:#06F;
width:8px;
border-radius:4px;
}
#contact>ul::-webkit-scrollbar-thumb:hover{
background-color:#09F;
width:10px;

}
.inner_holder{
display:inline-block;
margin-right:14px;
}



#sponsors>ul{
overflow-y:scroll;
overflow-x:hidden;
margin-top:0px;
}
#sponsors>ul::-webkit-scrollbar{
width:4px;
}
#sponsors>ul::-webkit-scrollbar-thumb{
background-color:#B03C3F;

}
#sponsors>ul::-webkit-scrollbar-thumb:hover{
background-color:#09F;
width:8px;
border-radius:4px;
}

#sponsors>ul>li{
overflow-y:visible;
overflow-x:hidden;

display:inline-block;
width:auto;/*220px*/
margin:10px;
margin-top:25px;
height:200px;
cursor:pointer;
vertical-align:middle;
/*border:1px solid rgba( 255, 255, 255, 0.6 );*/
}
#sponsors>ul>li>img{
width:220px;
height:auto;
}

/*caraousel------------------------------------*/
.gallery{
width:400px;
margin:180px auto;
height:500px;
border:1px solid #FFF;
display:none;
-webkit-transform:rotate(35deg);
-moz-transform:rotate(35deg);
-o-transform:rotate(35deg);
transform:rotate(35deg);
}
.gallery_div{

}
.imagelist{
margin-top:0;
}
ul.imagelist{
}
.imagelist>li{
display:block;
margin-bottom:50px;
margin-left:70px;
-webkit-transform:rotate(-35deg);
-moz-transform:rotate(-35deg);
-o-transform:rotate(-35deg);
transform:rotate(-35deg);

}
.imagelist>li>img{
width:250px;
height:180px;
-webkit-transition:all 0.2s;
-moz-transform:rotate(-35deg);
-o-transition:all 0.2s;
transform:rotate(-35deg);
}
.imagelist>li>img:hover{

}
button{
position:fixed;
}
/*caraousel------------------------------------*/
.social{
	display:none;
	position:absolute;
	width:30px;
	height:30px;
	right:calc(50% - 15px);
	bottom:calc(50% - 15px);
	z-index:100;
	-webkit-transform:scale(4,4);
	-moz-transform:scale(4,4);
    -o-transform:scale(4,4);
	transform:scale(4,4);
}
.social:hover{
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}
.social>img{
	
	width:30px;
	height:30px;
}
.social_after{
	bottom:4px;
	right:4px;
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
}
.social_after2{
	bottom:4px;
	right:38px;
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
}
.social_holder{
 display:none;
 position:absolute;
 width:200px;
 height:100px;
 bottom:-102px;
 right:0px;
 background-color:rgba( 109, 207, 246, 0.4 );
 border:1px solid rgba( 255, 255, 255, 0.3 );
 
}
.social_holder2{
 bottom:41px;
 color:#FFF;
 border-right:4px;
 border-top:2px solid rgba( 255, 255, 255, 0.3 );
 border-left:2px solid rgba( 255, 255, 255, 0.3 );
 border-right:2px solid rgba( 255, 255, 255, 0.3 );
 z-index:204;
 }

#footer{
	position:absolute;
	bottom:0px;
	height:0px;/*40px;*/
	width:100%;
	background-color: rgba( 109, 207, 246, 0.0 );
  	border-top:1px solid rgba( 255, 255, 255, 0.3 );
	
}
#other_page{
    width:100%;
	height:100%;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
	display:none;
    z-index: 200;
    
}
@font-face{
 font-family:navigation;
 src:url(../font/Agenda-Light.ttf);
}
@font-face{
 font-family:about;
 src:url(../font/TT0140M_.TTF);
}



/* CSS Document */
